<div>
  <button type="button" onclick="cp1()">VS コピー</button>
  <input id="copy1" type="text" value=
  " 後のバイタルサイン  RR:  SpO2: %  HR:  BP: / mmHg  ECG:  JCS:  MMT:" readonly>
</div>
<script>
  function cp1(){
    var txt = document.getElementById("copy1");
    txt.select();
    document.execCommand("Copy");
  }
</script>

<div>
  <button type="button" onclick="cp2()">血算 コピー</button>
  <input id="copy2" type="text" value=
  "白血球 WBC(3500～9000):  赤血球 RBC(♂400～550、♀350～500):  ヘモグロビン Hb(♂14～18、♀12～16):  血小板 PLT(15万～40万):" readonly>
</div>
<script>
  function cp2(){
    var txt = document.getElementById("copy2");
    txt.select();
    document.execCommand("Copy");
  }
</script>

<div>
  <button type="button" onclick="cp3()">生化 コピー</button>
  <input id="copy3" type="text" value=
  "総蛋白 TP(6.5～8.0):  肝機能 AST(10～30):  ALT(5～40):  腎機能 BUN(8.0～22.0):  Cre(0.5～1.0):
  Na(135～145):  K(3.5～4.5):  Cl(101～108):  血糖値 Glu(70～150):" readonly>
</div>
<script>
  function cp3(){
    var txt = document.getElementById("copy3");
    txt.select();
    document.execCommand("Copy");
  }
</script>

<div>
  <button type="button" onclick="cp4()">血ガス コピー</button>
  <input id="copy4" type="text" value=
  "pH(7.35～7.45):  PaO2(80～100):  PaCO2(35～45):  HCO3(22～26):  BE(-2～+2)" readonly>
</div>
<script>
  function cp4(){
    var txt = document.getElementById("copy4");
    txt.select();
    document.execCommand("Copy");
  }
</script>