<footer class='footer'>
  <ul class='footer-ul'>
    <li class='footer-list'>
      <%= image_tag("Fastory.png", alt: "Fastory", class: "footer-logo") %>
    </li>
    <li class='footer-list'></li>
    <li class='footer-list'></li>
  </ul>
</footer>