<h1>Posts#edit</h1>
<%= form_with model: @post, url: post_path, class: 'post-new-main', id: 'new_post', local: true do |f| %>
  
  <%= render partial: "shared/form", locals: { f: f } %>
  
  <div class="sell-btn-contents">
    <%= f.submit "変更する" ,class:"post-btn" %>
    <%=link_to 'もどる', post_path(@post.id), class:"back-btn" %>
  </div>
<% end %>