<h1>Posts#new</h1>
<%= form_with model: @post, url: posts_path, class: 'post-new-main', local: true do |f| %>
  
  <%= render partial: "shared/form", locals: { f: f } %>

  <div class="sell-btn-contents">
    <%= f.submit "投稿する" ,class:"post-btn" %>
    <%=link_to 'もどる', root_path, class:"back-btn" %>
  </div>
<% end %>