<div class='main-body'>
  <%= render "shared/side_header" %>

  <%= form_with model: @post, url: posts_path, class: 'post-new-main', id: 'new_post', local: true do |f| %>
    
    <%= render partial: "shared/form", locals: { f: f } %>

    <div class='form-end'>
      <div class="btn-contents">
        <%= f.submit "投稿する", data: { turbo_method: :get, turbo_confirm: ( render "shared/error_messages", model: f.object ) } %><br/>
        下書き ⇒ カテゴリーを「下書き」 &「★必須」部分を記入<br>
        本書き ⇒ 任意のカテゴリーを選択 &「★必須」「★」部分を記入
      </div>
    </div>
  <% end %>
  
</div>