.main-form{
  width: 100%;
  display: flex;
}

.back-image{
  position: fixed;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back{
  width: 100%;
  margin: 30px;
}

.basic-form{
  width: 250px;
  margin: 90px 0 0 30px;
}

.basic-form .field textarea,
.basic-form .field input[type="text"],
.basic-form .field select.select-box{
  height: 50px;
  width: 90%;
  resize: none;
  margin-bottom: 20px;
  border: 3px solid #f1f1f1;
}

.ample-form{
  width: 250px;
  padding-right: 20px;
  margin: 90px 0 0 30px;
  /*border-right: 5px solid rgb(241, 241, 241);*/
}

.ample-form .field textarea{
  height: 50px;
  width: 90%;
  resize: none;
  margin-bottom: 20px;
  border: 3px solid #f1f1f1;
}

.abcd-form{
  width: 300px;
  margin: 5px 30px;
}

.abcd-form .field textarea{
  height: 50px;
  width: 90%;
  resize: none;
  margin-bottom: 10px;
  border: 3px solid #f1f1f1;
}

.abcd-form .event-field textarea{
  height: 100px;
  width: 90%;
  resize: none;
  margin-bottom: 10px;
  border: 3px solid #f1f1f1;
  font-size: 15px;
}

.info-form{
  width: 500px;
}

.info-form .field textarea{
  height: 200px;
  width: 100%;
  resize: none;
  margin-bottom: 10px;
  border: 3px solid #f1f1f1;
}

.copy-form{
  display: flex;
  justify-content: space-between;
}

#copy1,
#copy2,
#copy3,
#copy4{
  width: 1px;
  border: none;
}

.image-field{
  margin-bottom: 20px;
}

#previews img {
  height: 50px;
  max-width: 50px;
  margin-top: 5px;
}

.form-end{
  display: flex;
  justify-content: space-between;
  color: #0999af;
}