.menus{
  height: 100vh;
  width: 300px;
  background-color: white;
  border-right: 5px solid rgb(241, 241, 241);
  box-sizing: border-box;
  position:sticky;
  top:0;
}

.menu-top{
  /* height: 16vh; */
  width: 100%;
}

.logo-icon{
  width: 180px;
  margin: 20px 0 0 45px;
}

.menu{
  margin-top: 60px;
  padding-left: 50px;
}

.new-post{
  padding-top: 60px;
  font-weight: 400;
  /* font-size: 1.5vw; */
}

.image-icon{
  /* height: 5vh; */
  width: 30px;
  margin: 0 10px 5vh 0;
}

.menu a{
  text-decoration: none;
  display: flex;
  color: #0999af;
}

.menu a:hover{
  color: black;
}

.menu-editor a{
  margin-bottom: 5px;
  font-size: 12px;
}

.post-images{
  width: 150px;
  font-size: 9px;
}

.search-input {
  /* height: 4vh; */
  width: 150px;
  margin-bottom: 10px;
  font-size: 12px;
}

.total-like{
  margin-top: 75px;
}

span{
  font-size: 20px;
  color: rgb(75, 75, 75);
}


/* レスポンシブ対応 *************************************/

@media (max-width: 1000px) {
  .menus{display:none}
}