.menus{
  height: 100vh;
  width: 22vw;
  background-color: white;
  border-right: 5px solid rgb(241, 241, 241);
  box-sizing: border-box;
  position:sticky;
  top:0;
}

.menu-top{
  height: 16vh;
  width: 100%;
}

.logo-icon{
  width: 14vw;
  margin: 2vh 0 0 20px;
}

.menu{
  margin-top: 9vh;
  padding-left: 4vw;
}

.new-post{
  padding-top: 60px;
  font-weight: 400;
  font-size: 1.5vw;
}

.image-icon{
  height: 5vh;
  width: 3vw;
  margin: 0 10px 5vh 0;
}

.menu a{
  text-decoration: none;
  display: flex;
  color: #0999af;
}

.menu a:hover{
  color: black;
}

.menu-editor a{
  margin-bottom: 2vh;
  font-size: calc(min(2vw, 2vh));
}

.post-images{
  width: 15vw;
  font-size: 0.1vw;
}

.search-input {
  height: 4vh;
  width: 70%;
  margin-bottom: 2vh;
  font-size: calc(min(1.5vw, 2vh));
}