.post-show{
  height: calc(70vh - 40px);
  width: 100%;
  display: flex;
}

.post-info{
  width: 70%;
  border-right: 5px solid rgb(241, 241, 241);
  overflow: auto;
  padding: 40px 10px 10px 20px;
  font-size: 14px;
}

.comment-index{
  width: 30%;
  font-size: 14px;
  padding: 30px 20px 0;
  overflow: auto;
}

.comment-lists{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}

.comment-list{
  height: 50px;
  width: 100%;
  background-color: rgba(241, 241, 241, 0.8);
  border-left: 10px solid #0999af;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 10px;
}

.comment-list a{
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}

.comment-list a:hover{
  color: #0999af;
}

.comment-edit a{
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #0999af;
}

.comment-edit a:hover{
  color: black;
}

.comment-new{
  height: 30vh;
  width: 100%;
  border-top: 3px solid rgb(241, 241, 241);
  padding: 0 20px;
  background-color: #f1f1f1;
  box-sizing: border-box;
  position: fixed;
  top: 70vh;
  right: 0;
  left: 345px;
  bottom: 0;
  z-index: 0;
}

.comment-new-main textarea{
  height: 18vh;
  width: 100%;
  margin-top: 20px;
  resize: none;
  border: none;
  background-color: white;
}



/* レスポンシブ対応 *************************************/

@media (max-width: 1000px) {
  .post-info{
    width: 60%;
  }
  .comment-index{
    width: 40%;
  }
  .comment-new{
    width: calc(100vw - 45px);
    position: fixed;
    top: 70vh;
    right: 0;
    left: 45px;
    bottom: 0;
  }
}

@media (max-width: 500px) {
  .post-show{
    width: auto;
    display: block;
    overflow: auto;
  }
  .post-info{
    padding: 50px 25px;
    border-bottom: 5px solid rgb(241, 241, 241);
    border-right: 0;
  }
  .comment-index{
    width: 50%;
    margin-top: 0px;
  }
  .comment-new{
    width: calc(100vw - 65px);
    margin-top: 50px;
    position: inherit;
    top: 70vh;
    right: 0;
    left: 45px;
    bottom: 0;
  }
}