.side-header{
  height: 100vh;
  width: 4vw;
  border-right: 5px solid rgb(241, 241, 241);
  box-sizing: border-box;
  position:sticky;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-header-bar{
  height: 60px;
  width: 100%;
  border-right: 5px solid #0999af;
}

.side-header-bar2{
  height: 300px;
  width: 100%;
  border-right: 5px solid #0999af;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menus-logo{
  width: 2vw;
}