.main-body{
  display: flex;
}

.main{
  width: calc(100vw - 360px);
}

.post-index{
  width: 100%;
}

.top-page-image{
  position: fixed;
  z-index: -5;
}

.top-image{
  margin-top: -50px;
  width: 100%;
}

.post-lists{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
  /* margin-bottom: 40vh; */
  padding: 0 50px;
  margin-top: 150px;
}

/* .post-list-top{
  width: 100%;
  margin: 0px 0 30px 0;
  opacity: 0.9;
} */

.post-list{
  height: 75px;
  width: 60%;
  background-color: rgba(241, 241, 241, 0.8);
  border-left: 10px solid #0999af;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw 0 3vw;
  margin-bottom: 50px;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-list a{
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  font-family: monospace;
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-list a:hover{
  color: #0999af;
}

.liked-icon,
.like-icon{
  width: 1.5vw;
}

.like-icon{
  opacity: 0.2;
}


/* レスポンシブ対応 *************************************/

@media (max-width: 1000px) {
  .main{
    width: calc(100vw - 45px);
    /* overflow: hidden; */
  }
  .post-lists{
    margin-top: 100px;
  } 
  .post-list{
    height: 60px;
    width: 70%;
    margin-bottom: 40px;
    font-size: 12px;
  }
  .post-list a{
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .post-lists{
    margin-top: 100px;
    padding: 0 20px 0 70px;
  }
  .post-list{
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 10px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .post-list a{
    max-width: 60%;
    font-size: 12px;
  }
}