<div class='side-header'>
  <div class='side-header-bar'>
    <div class='btn'>
      <i></i>
      <i></i>
      <i></i>
    </div>
    <div class='container'>
         <%= render "shared/menus/user_show"%>
    </div>

  </div>
  <div class='side-header-bar2'>
      <%= image_tag("menus.png", alt: "menus", class: "menus-logo") %>
  </div>
  <div class='side-header-bar'>
  </div>
</div>